ul {
      padding: 10px;
      background: black;
    }
li {
/*      display: inline;*/
      padding: 0px 10px 0px 10px;
      color: white;
      text-align: bottom;
    }
.header {
  background-image:url("http://images.fineartamerica.com/images-medium-large/1-compass-and-antique-map-douglas-pulsipher.jpg");
  height: 400px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 40px 0px 40px 0px;
  border-bottom: 1px solid #000000;
}
